.center-container {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 10%;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.kfotka {
    float: left;
    margin-right: 20px;
}

.kontakt {
    overflow: hidden;
}

@media (max-width: 767px) {
    .kfotka, .kontakt {
        float: none;
        margin-right: 0;
    }
}